<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server-sent-events FastAPI</title>
</head>
<body>
    
    <h1>Server-sent-events - Content from server:</h1>
    <div id="message"></div>

    <script>
        const eventSource = new EventSource("http://localhost:8000/stream");

        eventSource.addEventListener("new_message", (event) => {
            document.getElementById("message").innerText = event.data;
        });

        eventSource.addEventListener("end", (event) => {
            console.log('Handling end....');
            eventSource.close(); 
        });
    </script>

</body>
</html>